table {
    border: 1px solid #b1b0b0;
    font-weight: normal;
    font-size: 1.25rem;
  }
  
  th,
  td {
    border: 1px solid #b1b0b0;
    padding: 10px;
  }
  
  td.title {
    font-weight: 600;
  }
  
  td.desc {
    text-align: justify;
    line-height: 2.15rem;
  }
  
  td.status {
    width: 13rem;
    text-align: center;
  }
  
  .status .active,
  .status .inactive {
    background-color: #0290ff;
    color: #fff;
    border: 2px solid rgb(237, 228, 228);
    border-radius: 15px;
    padding: 10px;
  }
  
  .status .active {
    background-color: #0290ff;
  }
  
  .status .inactive {
    background-color: #4e4f50;
    text-transform: uppercase;
  }
  
  .join {
    background: none;
    color: #000;
    border: 1px solid #0b0b0b;
    border-radius: 5px;
  }
  
  .leave {
    background: none;
    color: #f00;
    border: 1px solid #f00;
    border-radius: 5px;
  }
  
  .status .join,
  .status .leave {
    border: 2px solid rgb(237, 228, 228);
    border-radius: 15px;
    padding: 10px;
  }
  
  .hide {
    display: none;
  }