.table-wrapper {
  width: 97%;
  height: auto;
  margin: auto;
  padding: 5px 0 0 5px;
  box-shadow: 0 10px 17px -5px #f5f0f0;
}

th, td {
  vertical-align: middle;
}

td.title,
th {
  font-weight:700;
  font-size: larger;
}

.leavjoinBtn {
  width: max-content;
}
