* {
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
}

header nav > a {
  display: flex;
  align-items: center;
}

header nav a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

header nav img.logo {
  height: 50px;
  width: 50px;
}

nav ul {
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul a {
  font-size: 1.2rem;
}

nav ul .active {
  text-decoration: underline 2px solid #136357;
}

.profile-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: auto;
  margin-top: 2.5%;
  gap: 2rem;
}

.space-rockets {
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rocket-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
}

.rocket-list .rocket {
  display: flex;
  gap: 1rem;
}

.rocket-list .rocket img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.rocket-list .rocket-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.table-wrapper {
  width: 97%;
  height: auto;
  margin: auto;
  padding: 5px 0 0 5px;
  box-shadow: 0 10px 17px -5px #f5f0f0;
}

th,
td {
  vertical-align: middle;
}

td.title,
th {
  font-weight: 700;
  font-size: larger;
}

.leavjoinBtn {
  width: max-content;
}
