* {
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
}

header nav > a {
  display: flex;
  align-items: center;
}

header nav a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

header nav img.logo {
  height: 50px;
  width: 50px;
}

nav div {
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul a {
  font-size: 1.2rem;
}

nav ul .active {
  text-decoration: underline 2px solid #136357;
}

.profile-wrapper {
  margin: 2.5% 25%;
}

.space-rockets {
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
